@font-face {
  font-family: B yekan;
  src: url(font/BYekan.ttf);
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 88%;
  direction: rtl;
  font-family: B yekan;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

header {
  padding: 0 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  height: 60px;
  width: 100%;
  max-width: 1800px;
}

.nav-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 100%;
  padding: 0;
}

.nav-item li {
  height: 100%;
}

.nav-link {
  height: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 5px;
  margin-left: 20px;
  color: #3a4545;
}

.nav-item .nav-link:active {
  opacity: 0.2;
}

.active {
  border-bottom: 3px solid #3559e0;
  color: blue;
}

.nav-link:active {
  opacity: 0.2;
}

.nav-link:hover {
  border-bottom: 3px solid #3559e0;
  color: blue;
  opacity: 0.6;
}

.nav-info {
  display: flex;
  flex: 1;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

.nav-info div:nth-child(2) {
  padding-top: 10px;
  color: #3559e0;
}

nav {
  padding: 0px 50px;
  margin-top: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0px 0px !important;
}

.navbar2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1800px;
  margin-top: 10px;
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 20%;
}

.search-bar {
  width: 40%;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}

.label {
  position: absolute;
  z-index: 2;
  right: 10px;
  transition: all 0.5s ease-in-out;
  top: 20%;
}

.search-bar-input {
  width: 100%;
  height: 45px;
  padding-right: 10px;
  font-size: 16px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #ccc;
  position: relative;
  background-color: #f9faf3;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.search-bar span:hover {
  color: black !important;
}

.search-bar span:active {
  opacity: 0.2;
}

.make-top {
  top: -23px;
  color: black !important;
}

.login {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 13px;
  color: #3559e0;
  background-color: white;
  border: 1px solid #3559e0;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-btn:hover {
  background-color: #3559e0;
  color: white;
  transition: all 0.5s ease-in-out;
}

.login-btn:active {
  opacity: 0.2;
}

.cart {
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.cart-number {
  background-color: #3559e0;
  color: white;
  border-radius: 30px;
  padding: 0px 8px;
  text-align: center;
}

.menu-items {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0 50px;
  margin-top: 10px;
  background-color: #f1eeea;
  height: 50px;
  border-radius: 5px;
}

.menu-items > ul {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 25px;
  padding-right: 15px;
  height: 91%;
}

.menu-items > ul > li {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  height: 100%;
  cursor: pointer;
}

.menu-items > ul > li > a {
  color: black;
  text-decoration: none;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-items > ul > li:hover {
  border-bottom: 3px solid #3559e0;
}

.header-img {
  width: 90%;
  margin: 30px auto;
  margin-bottom: 15px;
  position: relative;
  height: 350px;
}

.header-img .btn-next {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  transform: scale(1.7);
  padding: 3px;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  bottom: 20%;
  right: 5%;
  color: #3a4545;
}

.header-img .btn-next :hover {
  color: black;
}

.header-img .btn-next :active {
  opacity: 0.3;
}

.header-img .btn-previous {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  transform: scale(1.7);
  padding: 3px;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  bottom: 20%;
  right: 10%;
  color: #3a4545;
}

.header-img .btn-previous :hover {
  color: black;
}

.header-img .btn-previous :active {
  opacity: 0.3;
}

.img-header img {
  width: 100%;
  height: 350px;
  align-items: center;
  border-radius: 10px;
}

.img-header {
  display: none;
}

.dots {
  position: absolute;
  bottom: -70px;
  right: 60px;
  transform: rotate(90deg);
  padding: 0;
}
.dots li {
  font-size: 20px;
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 20px;
  border-radius: 20px;
}

.dots li.on-slide {
  width: 30px;
  margin: 10px;
}

.activee {
  display: block;
}

.swiper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 0 50px;
  height: 200px;
}

.img-swiper {
  display: flex;
  flex-wrap: 30px;
  overflow-x: hidden;
}

.img-swiper img {
  margin: 0 35px;
}

.img-swiper a {
  text-decoration: none;
  color: black;
}

.img-swiper img {
  width: 110px;
  height: 110px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
  border: 4px solid transparent;
  padding: 5px;
  border-radius: 50%;
}

.img-swiper img:hover {
  border-width: 6px;
}

.btn-next2 {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transform: scale(1.7);
  padding: 3px;
  cursor: pointer;
  color: #3a4545;
  margin-bottom: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.swiper .btn-next:hover {
  color: black;
}

.swiper .btn-next:active {
  opacity: 0.3;
}

.btn-previous2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 50%;
  transform: scale(1.7);
  padding: 3px;
  cursor: pointer;
  color: #3a4545;
  margin-bottom: 30px;
}

.swiper .btn-previous:hover {
  color: black;
}

.swiper .btn-previous:active {
  opacity: 0.3;
}

.menu-li {
  position: relative;
}

.sub-menu-ul {
  position: absolute;
  top: 105%;
  z-index: 10;
  background-color: #fff;
  padding: 5px 30px;
  border-radius: 0 10px 10px 0;
  font-size: 18px;
  list-style-type: none;
  width: 250px;
  cursor: default;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  display: none;
}

.menu-li-1:hover .sub-menu-ul {
  display: block;
}

.li-1 div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.sub-menu-ul a span {
  visibility: hidden;
}
.sub-menu-ul :hover span {
  visibility: visible;
}

.inner-ul {
  position: absolute;
  background-color: #ccc;
  right: 98%;
  top: 0;
  width: 350px;
  border-radius: 10px 0 0 10px;
  font-size: 16px;
  padding: 10px 30px;
  height: 368px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.56) 20px 50px 70px -40px;
}

.inner-ul li {
  padding: 15px 0;
}

.li-1 ul {
  visibility: hidden;
}

.li-1:hover ul {
  visibility: visible;
  display: flex;
  justify-content: right;
  align-items: center;
}

.container {
  height: 300px;
  background-color: #ffbb64;
  margin: 0 50px;
  border-radius: 5px;
  position: relative;
  margin-top: 15px;
}

.discount {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  padding-bottom: 50px;
  gap: 10px;
}

.discount button {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background-color: #3559e0;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discount-items {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  gap: 15px;
}

.items-discount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background-color: #fff;
  width: 160px;
  border-radius: 5px;
}

.discount-price {
  display: flex;
  gap: 20px;
  color: #3559e0;
  align-items: center;
}

.items-discount del {
  color: #3a4545;
  width: 100%;
  text-align: left;
}

.buttons {
  width: 98%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.images {
  margin: 30px 40px;
}

.images img {
  border-radius: 10px;
  margin-right: 12px;
}

.mobile-section {
  margin: 0 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 0px 20px;
  height: 380px;
  border-radius: 5px;
}

.mobile-section-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(50, 50, 93, 0.25);
  height: 60px;
  width: 100%;
}

.mobiles {
  margin: 0 -10px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.mobiles div {
  width: 15%;
  height: 270px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 8px;
  margin: 0;
  border-radius: 5px;
}

.buttons2 {
  position: relative;
  width: 105.8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 170px;
  margin-right: -35px;
}

.container2 {
  background-image: url(img/40.jpg);
  background-size: cover;
  margin: 50px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3px;
  position: relative;
}

.brands {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  height: 100%;
}

.brands span {
  font-size: 40px;
  margin-top: 20px;
}

.brands-img {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: #fff;
  border-radius: 20px 0 0 20px;
  height: 135px;
}

.brands-img a {
  border-left: 1px solid #f2efe5;
  padding: 0 20px;
  cursor: pointer;
  z-index: 1;
}

.brands-img a:nth-child(6) {
  border: none;
}

.brands-btn {
  width: 82.5%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: 18.3%;
}

.brands-btn button {
  cursor: pointer;
}

.container3 {
  margin: 30px 50px;
  height: 200px;
  border-radius: 20px;
}

.container3 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.blog {
  margin-top: 50px;
  border: 2px solid #3559e0;
  border-radius: 20px;
  height: 350px;
}

.blog-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 280px;
  margin: 0;
}

.blogi {
  background-color: #333333;
  text-align: center;
  margin: 0;
  border-radius: 0 15px 15px;
}

.blogi a {
  color: #fff;
}

.container4 {
  margin: 20px 50px;
}

.svg-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.svg {
  text-align: center;
  padding: 0;
  margin-top: -20px;
}

.footer-container {
  margin: 0 50px 0 50px;
  margin-top: 80px;
  margin-bottom: 0;
  border-top: 1px solid #d4e7c5;
  position: relative;
}

.logo-footer {
  position: absolute;
  top: -35px;
  right: 40%;
  z-index: 10;
  background-color: white;
  width: 200px;
  padding-right: 15px;
}

.footer {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer > div:nth-child(1) {
  width: max-content;
}

.footer > div:nth-child(2) {
  margin-top: 70px;
  width: 38%;
  border-bottom: 1px solid #d4e7c5;
  line-height: 30px;
  padding: 0 60px;
}

.footer > div:nth-child(3) {
  margin-top: -19px;
  width: max-content;
}

.media {
  background-color: #2b52e16f;
  margin: 25px 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0 10px;
}
